html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.98vw;
}

/* Fonts */

p {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: calc(19em/14);
    margin: 5px;
}

h5 {
    font-style: normal;
    font-weight: bold;
    font-size: calc(16em/14); 
    
    line-height: calc(19em/14);
    margin: 5px;
}

h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: calc(18em/14); 
    line-height: 119.5%;
    letter-spacing: -0.01em; 
    margin: 5px;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: calc(24em/14);
    letter-spacing: -0.05em;
    font-feature-settings: 'liga' off;
    vertical-align: middle;
}
h2 {
    font-style: normal;
    font-weight: bold;
    font-size: calc(36em/14);
    line-height: 102.9%;
    font-feature-settings: 'liga' off;
    margin: 0px;
}

/* Limits on responsive font size to prevent awkward sizes */

@media screen and (min-width: 1600px) {
    p {
        font-size: 16px;
    }
    h5 {
        font-size: 20px;
    }
    h4 {
        font-size: 24px;
    }
    h3 {
       font-size: 28px;
    }
    h2 {
        font-size: 44px;
    }

}

@media screen and (max-width: 1000px) {
    p {
        font-size: 12px;
    }
    h5 {
        font-size: 14px;
    }
    h4 {
        font-size: 16px;
    }
    h3 {
       font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }

}
.no-margins {
    line-height: 100%;
    margin: 5px 0px;
}

/* Colors */

.purple {
    color: #8d4ac2;
}

.dark-purple {
    color: #20004D;
}

.white {
    color: white;
}

.dark-grey {
    color: #1e2429;
}

.grey {
    color: #8995A0;
}

.strawberry {
    background: #CB4039;
}

.blackberry {
    background: #38066B;
}

.crazyberry {
    background: #C44CC0;
}

.fire-orange {
    background: #DB773D;
}

/* Components */

.purple-button {
    background: #8D4AC2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px #DDB8F9;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    border: none;
    padding-right: 12px;
    padding-left: 12px;
}

.testimonial-frame {
    border-radius: 50%;
    width: 1.5fr;
    padding-top: 100%;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Pictures */

.icon {
    padding-right: 5px;
}

.logo-pic {
    width: 100%;
    height: auto;
}

.arrow {
    padding-left: 20px;
}

.responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.testimonial-pic {
    width: 100%;
    height: 100%;
}

/* Header */

#banner-grid {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(5, 35px) 20px;
   grid-gap: 20px;
   padding-top: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: 5;
    padding-left: 20px;
}

.top-nav {
    grid-column:9/13;
    grid-row:1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    z-index: 1;
    padding: 0px 20px;
}

.mid-nav {
    grid-column: 1/13;
    grid-row: 2/5;
    background-color: #fbf0ff;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 35px);
    grid-gap: 20px;
    border-top: 1px solid #8995A0;

}

    .search {
        grid-column: 4/10;
        grid-row: 2;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        justify-content: space-between;
        border: 1px solid #20004D;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

    .shopping {
        grid-column: 10/13;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 20px;
        align-items: center;
        text-align: left;
    }
        .cart-nav {
            display: flex;
            flex-direction: row;     
        }

        .shopping-features {
            padding-left: 20px;
        }

.bottom-nav {
    grid-column: 1/13;
    grid-row: 4/6;
    margin-top: 35px;
    background-color: #8d4ac2;
    z-index: 3;
    display: grid;
    grid-template-rows: repeat(1, 55px);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}
    .dropdowns {
        grid-row: 1;
        grid-column: 1/11;
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .dog-dropdown, .cat-dropdown, .product-dropdown {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.shipping-banner {
    display: flex;
    grid-row: 5/7;
    margin-top: 35px;
    grid-column: 1/13;
    background-color: #20004D;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

/* Carousel */

#carousel {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 35px);
    grid-gap: 20px;
 }

    .carousel-arrow-left {
        grid-column: 1;
        grid-row: 2/4;
        transform: rotate(180deg);
        margin-left: 20px;
        z-index: 5;

    }

    .carousel-image {
        grid-column: 1/9;
        grid-row: 1/7;
        margin-bottom: 35px;
        display: flex;
        justify-content: flex-start;
        margin-left: -10%;
        z-index: 1;
    }

    .carousel-text {
        grid-column: 8/12;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
    }

    .carousel-polygon {
        grid-column: 7/13;
        grid-row: 1/7;
        margin-bottom: 35px;
        border-bottom: 276px solid #eff3f5;
        border-left: 7vw solid transparent;
        z-index: 2;
    }

    .carousel-button {
        grid-column: 8/12;
        grid-row: 5;
        z-index: 3;
        justify-self: start;
    }

    .carousel-arrow-right {
        justify-self: end;
        grid-column: 12;
        grid-row: 2/4;
        z-index: 5;
        margin-right: 20px;

    }

/*Body of Home Page*/

#home-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 35px);
    grid-gap: 20px;
    padding: 20px;
}


/*About Us*/

#about-us {
    grid-row: 1/12;
    grid-column: 1/5;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 35px);
    grid-gap: 20px;
    border-right: 1px solid #8995A0;
}

    #about-us h3 {
        grid-row: 1;
        grid-column: 1/5;
        align-self: center;
    }

    #about-us h4 {
        grid-row: 2 / span 5;
        grid-column: 1/5;
        align-self: start;
    }

    #about-us button {
        grid-row: 7;
        grid-column: 1/5;
        justify-self: start;
    }

    #about-us .paw-tracks {
        grid-row: 7 / span 5;
        grid-column: 1/5;
        margin-left: -30px;
    }

/*Testimonials*/

#testimonials {
    grid-row: 1/12;
    grid-column: 5/13;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 35px);
    grid-gap: 20px;
}

    #testimonials h3 {
        grid-row: 1;
        grid-column: 1/8;
        align-self: center;
    }

    #testimonials h4 {
        grid-row: 2 / span 2;
        grid-column: 1/8;
        align-self: start;
    }

    .testimonial-card-1 {
        grid-row: 4 / span 8;
        grid-column: 1/3;
        
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
    }

        .testimonial-card-1 .testimonial-frame {
            background-image: url('/Images/Ronnie-Toby.jpeg');
        }

    .testimonial-card-2 {
        grid-row: 4 / span 8;
        grid-column: 3/5;
        
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
    }

        .testimonial-card-2 .testimonial-frame {
            background-image: url('/Images/Debbie-Bingo.jpeg');
        }

    .testimonial-card-3 {
        grid-row: 4 / span 8;
        grid-column: 5/7;
        
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
    }

        .testimonial-card-3 .testimonial-frame {
            background-image: url('/Images/Jim-Pam.jpeg');
        }

    .testimonial-card-4 {
        grid-row: 4 / span 8;
        grid-column: 7/9;
        
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
    }

        .testimonial-card-4 .testimonial-frame {
            background-image: url('/Images/Jamie-Barney.jpeg');
        }

/*Product Browsing */
 
#product-browsing {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 35px);
    grid-gap: 20px;
    padding: 20px;
}

/*Product Filtering Sidebar */

#product-filtering {
    grid-row: 1/20;
    grid-column: 1/3;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20, 35px);
    grid-gap: 20px;
    border-right: 1px solid #8995A0;
}

    /*Product Filtering Title */
    #product-filtering h3 {
        grid-row: 2;
        grid-column: 1/3;
        align-self: center;
    }

    /*Product Filtering Card Grid */
    #product-filtering .filter-cardstack {
        grid-row: 3/15;
        grid-column: 1/3;
       
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
        justify-content: flex-start;
    }

    /*Product Filtering Card Styling */
    .filter-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.5em 0em;
        margin-right: 10px;
        margin-bottom: 1em;
        background-color: #eff3f5;
    }

        /*Product Filtering Title (Dropped Down) */
        .filter-card .filter-title-down {
            display: flex;
            justify-content: space-between;
        }

        /*Product Filtering Title (Collapsed) */
        .filter-card .filter-title-up {
            display: flex;
            justify-content: space-between;
        }

            /* Arrow Flip for Collapsed Card */
            .filter-title-up .icon {
                transform: rotate(180deg);
                padding-left: 5px;
                padding-right: 0px;
            }

        /*Creating a checkbox filtering system*/

            /* Customize the label (the container) */
            .filter-item {
                display: block;
                position: relative;
                padding-left: 2em;
                margin-bottom: 0.25em;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                text-align: left;
            }
            
            /* Hide the browser's default checkbox */
            .filter-item input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                left: 0.5em;
                height: 1.5em;
                width: 1.5em;
                background-color: #c4c4c4;
            }
            
            /* On mouse-over, add a grey background color */
            .filter-item:hover input ~ .checkmark {
                background-color: #8D4AC2;
            }
            
            /* When the checkbox is checked, add a blue background */
            .filter-item input:checked ~ .checkmark {
                background-color: #8d4ac2;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .filter-item input:checked ~ .checkmark:after {
                display: block;
            }
            
            /* Style the checkmark/indicator */
            .filter-item .checkmark:after {
                left: 0.5em;
                top: 0.08em;
                width: 0.3em;
                height: 0.9em;
                border: solid white;
                border-width: 0 0.25em 0.25em 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

/*Product Showcase Area with Product Cards */
#product-showcase {
    grid-row: 1/20;
    grid-column: 3/13;
    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 35px);
    grid-gap: 20px;
}
    /* Site Navigation */
    #product-showcase .site-trail {
        grid-row: 1;
        grid-column: 1/10;
        align-self: end;
    }

    /*Product Showcase Banner */
    #product-showcase .banner {
        grid-row: 2/5;
        grid-column: 1/11;
        background-color: #eff3f5;
        margin-right: -20px;

        display: grid;
        grid-template-rows: repeat(3, 35px);
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 20px;
        padding-right: 20px;
    }
        /*Product Showcase Banner Title  */
        #product-showcase .banner h2 {
            grid-row: 2;
            grid-column: 1/4;
            align-self: center;
            padding: 0.5em;
            z-index: 3;
        }

        /* Custom Polygon with diagonal cut */
        .banner-polygon {
            grid-row: 1/4;
            grid-column: 1/5;
            width: 5fr;
            height: 0;
            border-top: 145px solid #eff3f5;
            border-right: 7vw solid transparent;
            z-index: 2;
            }
        
        /*Product Showcase Banner image */
        #product-showcase .banner .banner-image {
            grid-row: 1/4;
            grid-column: 3/11;
            margin-right: -20px;
            background-size: cover;
            background-position: center center;
            background-image: url('/Images/cats-banner.jpeg');
            z-index: 1;
        }

        /*Product Card Flexbox */
        #product-showcase #product-card-area {
            grid-row: 6/13;
            grid-column: 1/11;
            margin-right: -20px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
            /* Product Card Styling */
            #product-card-area .product-card {
                width: 31%;
                min-width: 337px;
                max-width: 450px;
                height: 365px;
                margin-right: 20px;
                margin-bottom: 20px;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: left;
                padding-left: 5px;
            }
            
            /*Product Image Dimensions and Properties */
            .product-card .product-image {
                background-size:cover;
                background-position: center center;
                width: calc(200%/3);
                height: calc(500%/7);
            }
                /* Individual Product Images */
                #cat-card-harness .product-image {
                    background-image: url('/Images/cat-harness.jpeg');
                }

                #cat-card-food-storage-attachment .product-image {
                    background-image: url('/Images/cat-food-storage-attachment.jpeg');
                }

                #cat-card-water-storage-attachment .product-image {
                    background-image: url('/Images/cat-water-storage-attachment.jpeg');
                }

                #cat-card-tracker-collar .product-image {
                    background-image: url('/Images/cat-collar.jpeg');
                }

                #cat-card-backpack .product-image {
                    background-image: url('/Images/cat-backpack.jpeg');
                }

            .product-image .swatches {
                position: relative;
                    top: 85%;
                margin-left: 5px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }

            .swatch {
                width: 20px;
                height: 20px;
                border: 2px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 50%;
                margin-right: 5px;
            }
            
            /*Product Overview Box */
            .product-card .product-overview {
                width: 98%;
                height: calc(200%/7);
                background-color: #eff3f5;
                padding-left: 5px;
                margin-top: 20px;
                border-top: 1px solid #8995A0;
                border-bottom: 1px solid #8995A0;
            }

/*Footer*/
.footer {
    background-color: #8D4AC2;
    width: 100%;
    height: 3em;
    text-align: right;
    padding-top: 0.5em;
    margin-top: 3em;
}